body {
    background-color: #333;
    font-size: 14pt;
    text-align: center;
    color: white;
    font-family: "Garamond";
}

#puzzle{
    background-color: white;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid black;
}

#output{
    font-size: 40px;
    color: red;
    text-align: center;
    padding: 2px;
}

.animation{
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.cells{
    border: 2px solid black;
    width: 98px;
    height: 98px;
    text-align: center;
    font-size: 32pt;
    font-family: "Garamond";
    font-weight: 600;
    color:white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    position:absolute;
}

/*.cells:hover{
    border-color:red;
    color:red;
    cursor:pointer;
}*/

#tile1{
    /*background:url(background.jpg);*/
    background-position: 0px 0px;
}
#tile2{
    /*background:url(background.jpg);*/
    background-position: -100px 0px;}
#tile3{
    /*background:url(background.jpg);*/
    background-position: -200px 0px;}
#tile4{
    /*background:url(background.jpg);*/
    background-position: -300px 0px;}
#tile5{
    /*background:url(background.jpg);*/
    background-position: 0px -100px;}
#tile6{
    /*background:url(background.jpg);*/
    background-position: -100px -100px;}
#tile7{
    /*background:url(background.jpg);*/
    background-position: -200px -100px;}
#tile8{
    /*background:url(background.jpg);*/
    background-position: -300px -100px;}
#tile9{
    /*background:url(background.jpg);*/
    background-position: 0px -200px;}
#tile10{
    /*background:url(background.jpg);*/
    background-position: -100px -200px;}
#tile11{
    /*background:url(background.jpg);*/
    background-position: -200px -200px;}
#tile12{
    /*background:url(background.jpg);*/
    background-position: -300px -200px;}
#tile13{
    /*background:url(background.jpg);*/
    background-position: 0px -300px;}
#tile14{
    /*background:url(background.jpg);*/
    background-position: -100px -300px;}
#tile15{
    /*background:url(background.jpg);*/
    background-position: -200px -300px;}

#tile16{
    display: none;
}

.button1 {

}

#timerbox{
    border-style: solid;
    display:inline;
    border-width: 2px;
    border-color: #B0B0B0 ;
    font-size: 10pt;
    padding: 10px;
    float:left;
}

#movebox{
    border-style: solid;
    display:inline;
    border-width: 2px;
    border-color: #B0B0B0 ;
    font-size: 10pt;
    padding: 10px;
    float:right;
}

#bi {
    margin-top: 20px;
    background-color: black;
}

.bgimage {
    width: 200px;
    height: 200px;
}