body {
    background-color: #333;
    font-size: 14pt;
    text-align: center;
    color: white;
    font-family: "Carrier";
}

.cells {
    border: 2px solid black;
    width: 98px;
    height: 98px;
    text-align: center;
    font-size: 32pt;
    font-weight: 600;
    color:white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    position:absolute;
}

#cell1 {
    background-position: 0px 0px;
}
#cell2 {
    background-position: -100px 0px;
}
#cell3 {
    background-position: -200px 0px;
}
#cell4 {
    background-position: -300px 0px;
}
#cell5 {
    background-position: -400px 0px;
}
#cell6 {
    background-position: -500px 0px;
}
#cell7 {
    background-position: 0px -100px;
}
#cell8 {
    background-position: -100px -100px;
}
#cell9 {
    background-position: -200px -100px;
}
#cell10 {
    background-position: -300px -100px;
}
#cell11 {
    background-position: -400px -100px;
}
#cell12 {
    background-position: -500px -100px;
}
#cell13 {
    background-position: 0px -200px;
}
#cell14 {
    background-position: -100px -200px;
}
#cell15 {
    background-position: -200px -200px;
}
#cell16 {
    background-position: -300px -200px;
}
#cell17 {
    background-position: -400px -200px;
}
#cell18 {
    background-position: -500px -200px;
}
#cell19 {
    background-position: 0px -300px;
}
#cell20 {
    background-position: -100px -300px;
}
#cell21 {
    background-position: -200px -300px;
}
#cell22 {
    background-position: -300px -300px;
}
#cell23 {
    background-position: -400px -300px;
}
#cell24 {
    background-position: -500px -300px;
}
#cell25 {
    background-position: 0px -400px;
}
#cell26 {
    background-position: -100px -400px;
}
#cell27 {
    background-position: -200px -400px;
}
#cell28 {
    background-position: -300px -400px;
}
#cell29 {
    background-position: -400px -400px;
}
#cell30 {
    background-position: -500px -400px;
}
#cell31 {
    background-position: 0px -500px;
}
#cell32 {
    background-position: -100px -500px;
}
#cell33 {
    background-position: -200px -500px;
}
#cell34 {
    background-position: -300px -500px;
}
#cell35 {
    background-position: -400px -500px;
}
#cell36 {
    display: none;
}

#puzzle {
    background-color: #faebd7;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid black;
}

.moveAnimation {
         -webkit-animation: zoom 0.6s linear;

   transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  -ms-transition: .6s;
 
     
}

.button1 {
    background-color: #D3D3D3;
    border: 1px solid #333;
    color: #333;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.button1:hover {
    background-color: #333;
    color: #D3D3D3;
    border: 1px solid #D3D3D3;
}

#response { 
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 2px;
}

#timecont { 
  display: inline-block; 
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    font-size: 20pt;
    
    float: right;
    margin-top: -230px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #333;
    font-family: courier;
}

#moveCounter {
    display: inline-block;
    border: 2px solid #D3D3D3;
    font-size: 10pt;
    padding: 10px;
    float: left;
    margin-top: -230px;
}

.bi {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: black;
}

.bgimage {
    width: 200px;
    height: 200px;
}

.space {
    margin-top: 10px;
}

#moredims{
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:visited {
    color: #333;
}

@-webkit-keyframes zoom {
-ms-transform:rotate(360deg) scale(2);
    -ms-transform-duration:500ms;
    -ms-transform-timing-function: ease-out;
}


@keyframes zoom {
0% { transform:rotate(0) scale(1) }
50% { transform:rotate(360deg) scale(2) }
100% { transform:rotate(720deg) scale(1) }
}


#zoom {
    margin-left: 470px;
        margin-top: -50px;

     position: absolute;
    display: none;
    font-family: fantasy;
    color: white;
    font-size: 100px;
    -webkit-animation-name: zoom; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: zoom;
    animation-duration: 4s;
    opacity: 1;
}
/* *********************************************************************************** */
#newgame {
    display: inline;
    border: 2px solid #a1a1a1;
    padding: 5px; 
    background: #E94F64;
    width: 180px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    
}
#newgame1 {
    display: inline;
   
    
}
#newgame:hover {
    display: inline;
    border: 2px solid #a1a1a1;
    padding: 5px; 
    background: gray;
    width: 180px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    
}
h2{
    color: white;
    font-family: courier;
    font-size: 40px;
    text-align: left;
    }
h3{
    color: white;
    font-family: courier;
    font-size: 25px;
    text-align: ccenter;
    }
li{
    text-align: left;
}
#verticalleft {
  border-right: thick solid white; 
  float: left;
  font-size: 22px;
  margin-left: 225px;
}
#verticalright {
  border-left: thick solid white;
    float: right;
      font-size: 22px;
        margin-right: 225px;


}

